<section>
    <h2>PingOne Protect - Session Interaction</h2>
    <div style="margin-top:1rem;">
        <a [routerLink]="['/']" lass="card-link text-start">Home</a>
        <a [routerLink]="['/riskPolicy']" class="card-link text-start">Risk Policy</a>
        <a href="https://apidocs.pingidentity.com/pingone/native-sdks/v1/api/#pingone-risk-sdk-for-web" class="card-link" target="_blank">Signals SDK</a>
        <a href="https://apidocs.pingidentity.com/pingone/platform/v1/api/#post-create-risk-evaluation" class="card-link" target="_blank">P1 Protect API</a>
    </div>
</section>