<section>
  <h2>PingOne Protect - Risk Policy</h2>
  <p>
    Risk policies determine how the various risk predictors are combined, and how the aggregated risk score should be
    translated into a final risk level of <b>Low</b>, <b>Medium</b>, or <b>High</b>.
  </p>
  <p>
    Current executed risk policy:
  </p>
  <div id="contentRiskPol">
    <table>
      <thead>
        <tr>
          <th style="width: 50%;">Predictor Score</th>
          <th style="text-align: center;">Medium</th>
          <th style="text-align: center;">High</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pred of predictors">
          <td>{{pred.name}}</td>
          <td style="text-align: center;">{{pred.medium}}</td>
          <td style="text-align: center;">{{pred.high}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr>
  <div id="contentThreshold">
    <p>
      <b>Threshold</b>
    </p>
    <table>
      <thead>
        <tr>
          <th style="text-align: center;">Medium</th>
          <th style="text-align: center;">High</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let thres of thresholds">
          <td style="text-align: right;">{{thres.medium}}</td>
          <td style="text-align: right;">{{thres.high}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="margin-top:1rem;">
    <a [routerLink]="['/']" lass="card-link text-start">Home</a>
    <a [routerLink]="['/sessionInteraction']" class="card-link text-start">Session Interaction</a>
    <a href="https://glitch.com/edit/#!/pingone-protect-signals-demo" class="card-link" target="_blank">View Code</a>
    <a href="https://apidocs.pingidentity.com/pingone/native-sdks/v1/api/#pingone-risk-sdk-for-web" class="card-link"
      target="_blank">Signals SDK</a>
    <a href="https://apidocs.pingidentity.com/pingone/platform/v1/api/#post-create-risk-evaluation" class="card-link"
      target="_blank">P1 Protect API</a>
  </div>
</section>